{% load static %}

{% include 'header.html' %}

<style>
   .option{
    color:white;
  }
  .cnt-header-logo h1 {
    color: white;
  }
</style>

<section id="container-slider">	
  <!-- <a href="javascript: fntExecuteSlide('prev');" class="arrowPrev"><i class="fas fa-chevron-circle-left"></i></a>
  <a href="javascript: fntExecuteSlide('next');" class="arrowNext"><i class="fas fa-chevron-circle-right"></i></a> -->
  <!-- <ul class="listslider">
    <li><a itlist="itList_0" href="#" class="item-select-slid"></a></li>
    <li><a itlist="itList_1" href="#"></a></li>
    <li><a itlist="itList_2" href="#"></a></li>
  </ul> -->
  <ul id="slider">
    <li style="background-image: url('http://localhost/imprentalaOF/img/PrinImg/pagina0%20-%20foto%20sola.jpg'); z-index:0; opacity: 1;">
      <div class="content_slider" >
        <div>
          <h5>Conocenos</h5>
          <h2>Nosotros</h2>
    <p>Somos un empresa enfocada en brindar soluciones impresas.

      Buscamos satisfacer y adaptarnos a las nuevas necesidades de la industria y el mercado para brindar un servicio que proponga, resuelva y apoye a nuestros clientes en el constatente cambio que vive el mundo, transformándonos cada día con ellos.</p>
    <a href="/contacto" class=" btn-slider">Ver más</a>
  </div>
      </div>
    </li>
    <li style="background-image: url('https://cdn.pixabay.com/photo/2018/02/20/10/28/business-3167295_960_720.jpg'); ">
      <div class="content_slider" >
        <div>
          <h2>Negocios</h2>
    <p>Recursos, guías, herramientas y consejos para emprender, crear tu empresa o iniciar un negocio exitoso</p>
    <a href="#" class=" btn-slider">Ver más</a>
  </div>
      </div>
    </li>
    <li style="background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/42/typing-849806_960_720.jpg'); ">
      <div class="content_slider" >
        <div>
          <h2>Estrategias de negocio</h2>
    <p>Las estrategias de negocio representan planes o métodos...</p>
    <a href="#" class=" btn-slider">Ver más</a>
  </div>
      </div>
    </li>
 </ul>
</section>



<div class="container-nuestros-servicios-banner-inicio">
<h1>Conoce Nuestros Servicios</h1>

</div>
<div style="margin:70px auto;"class="container-grid-content-servicios-max container">
  <div class="container-grid-content-servicios">
    <div  class="container-grid-img-contenedor"><h3 class="nombre-servicios-grid text-center ">Plotter HD</h3>
      <div class="container-img-grid" style=" border: 0px solid #fcf400;">  <a href="/servicios">
          <img src="{% static 'img/Servicios/pagina0-foto3.jpg' %}" alt="">
          </a>
          
      </div>
       <!-- <div class="name-container-servicios"><div class="sub-container-name-servicios"><h1>Plotter HD</h1></div></div> -->
       <div class="descripcion-boton">Se utiliza para imprimir gráficos o fotografías de gran tamaño entre muchas aplicaciones más.</div>
       <div class="boton-anima">
        
    
       <a href="/servicios">
    <button class="boton cinco" rel="">
    <div class="icono">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </div>
    <span>Ver más</span>
    </button>
    </a>
      </div>
      <!-- <div class="name-container-servicios"><div class="sub-container-name-servicios"><h1>Digital</h1></div></div> -->
     
    </div>
    <div  class="container-grid-img-contenedor"><h3 class="nombre-servicios-grid text-center ">Digital</h3>
      <div class="container-img-grid" style=" border: 0px solid #fcf400;">  <a href="/servicios">
          <img src="{% static 'img/Servicios/pagina0-foto2.jpg' %}" alt="">
          </a>
          
      </div>
       <!-- <div class="name-container-servicios"><div class="sub-container-name-servicios"><h1>Plotter HD</h1></div></div> -->
       <div class="descripcion-boton">La impresión digital es ideal para proyectos que requieren de tiempos de entrega cortos, bajo volumen y/o personalizado.</div>
       <div class="boton-anima">
        
    
       <a href="/servicios">
    <button class="boton cinco" rel="">
    <div class="icono">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </div>
    <span>Ver más</span>
    </button>
    </a>
      </div>
      <!-- <div class="name-container-servicios"><div class="sub-container-name-servicios"><h1>Digital</h1></div></div> -->
     
    </div>
    <div  class="container-grid-img-contenedor"><h3 class="nombre-servicios-grid text-center ">Offset</h3>
      <div class="container-img-grid" style=" border: 0px solid #fcf400;">  <a href="/servicios">
          <img src="{% static 'img/Servicios/pagina0-foto7.jpg' %}" alt="">
          </a>
          
      </div>
       <!-- <div class="name-container-servicios"><div class="sub-container-name-servicios"><h1>Plotter HD</h1></div></div> -->
       <div class="descripcion-boton">La impresión offset es conveniente para tirajes grandes..</div>
       <div class="boton-anima">
        
    
       <a href="/servicios">
    <button class="boton cinco" rel="">
    <div class="icono">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
      </svg>
    </div>
    <span>Ver más</span>
    </button>
    </a>
      </div>
      <!-- <div class="name-container-servicios"><div class="sub-container-name-servicios"><h1>Digital</h1></div></div> -->
     
    </div>

</a>






</div>

</div>



<div class="container-productos-inicio">
  <div class="container">
    <h1 class="container-productos-destacados-inicio">Productos Destacados</h1>
    
<div class="cont-servicios-mx container" style="">


  <div class="cnt-servicios" id="servicios">
      <div  class="cnt-servicios-box">
        <a href="/productos"style="text-decoration: none;">
          <div class="img-servicio">
    <img class="img" src="{% static 'img/Productos/bolsa1.jpg' %}"/>
          </div>
          <div class="info-servicio">
              <h3 style="color:black;">Bolsa</h3>
              <p>Hola</p>
       
              
              </div>
            </a>
      </div>  
      <div  class="cnt-servicios-box">
        <a href="/productos"style="text-decoration: none;">
          <div class="img-servicio">
    <img class="img" src="{% static 'img/Productos/tarjetas.jpg' %}"/>
          </div>
          <div class="info-servicio">
              <h3 style="color:black;">Tarjetas</h3>
              <p>Hola</p>
       
              
              </div>
            </a>
      </div>  
      <div  class="cnt-servicios-box">
        <a href="/productos"style="text-decoration: none;">
          <div class="img-servicio">
    <img class="img" src="{% static 'img/Productos/termo 1.jpg' %}"/>
          </div>
          <div class="info-servicio">
              <h3 style="color:black;">Termo</h3>
              <p>Hola</p>
       
              
              </div>
            </a>
      </div>  
      <div  class="cnt-servicios-box">
        <a href="/productos" style="text-decoration: none;">
          <div class="img-servicio">
    <img class="img" src="{% static 'img/Productos/termo golon 2.jpg' %}"/>
          </div>
          <div class="info-servicio">
              <h3 style="color:black;">Termo golon</h3>
              <p>Hola</p>
       
              
              </div>
            </a>
      </div>  
  </div>
    <div class="container-despegable-services"></div>
  </div>
  </div>
</div>
{% include 'footer.html' %}
